@import "tailwindcss";

@theme {
  --color-destructive: hsl(0 84% 60%); 
}

.text-foreground {
  color: black;
}

.text-muted-foreground {
  color: gray;
}

.bg-background {
  background-color: white;
}
